html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header */
#header {
	background: #0F529B;
	margin-bottom: 15px;
	width: 100%;
}

#header h1 {
	margin: 0;
	padding: 10px 10px 10px 4px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
}

#header .project-logo {
	padding: 10px 0 10px 10px;
}

.project-logo {
	display: inline-block;
	opacity: 0.4;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.project-title {
	display: inline-block;
	margin-left: 5px;
}

/* Content */
#content {
}

#filemanager {
	margin-top: 15px;
}

#filemanager tr {
	border-top: 1px solid #ddd;
}

#filemanager tr th,
#filemanager tr td {
	text-align: left;
}

#filemanager tr:hover, #filemanager tr:focus {
	background: #eee;
}

#filemanager td, #filemanager th {
	padding: 8px 20px;
}

#filemanager th {
	font-weight: normal;
}

#filename {
	width: 99999px;
}

#fileaction {
	min-width: 200px;
}

#filesize {
	min-width: 120px;
}

#filemodified {
	min-width: 140px;
}

.item > td > .hidden {
	display: inline-block;
	color: #555;
	opacity: 0;
	transition: all 300ms;
	margin-right: 5px;
}

.item > td > .hidden a {
	color: #444;
}

.item > td > .hidden a:hover {
	color: #111;
}

tr:hover > td > .item-input {
	margin: 0 4px;
	padding: 4px 6px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.item:hover > td > .hidden {
	opacity: 0.8;
}

.thumb {
	border-radius: 2px;
	vertical-align: bottom;
	width: 28px;
	height: 34px;
	opacity: 0.8;
}

.item-input {
	margin: 0 4px;
	padding: 4px 6px;
	transition: all 200ms;
	border: none;
}

.action-open {
	cursor: pointer;
}

.action {
	padding: 10px 20px;
}

.action > div {
	float: left;
}

.label {
	display: inline-block;
  	padding: 7px;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #333;
	cursor: default;
}

.upload-input {
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url('/static/assets/upload.svg');
	background-size: 14px 14px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#file-upload,
#mkdir {
	display: inline-block;
	margin-left: 10px;
	float: left;
}

#mkdir-input {
	padding: 8px 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#mkdir-submit {
	display: none;
	color: #fff;
	background: #1CB841;
	padding: 8px 8px;
	border: 1px solid #19A73B;
	border-radius: 2px;
	cursor: pointer;
}

#mkdir-submit:hover {
	background: #1BB53F;
}

.clear {
	clear: both;
}

.upload-input:hover {
	background-color: #ddd;
}

.upload-input input {
	cursor: pointer;
	width: 32px;
	height: 32px;
	overflow: hidden;
	opacity: 0;
	font-size: 0;
}

.action-icon {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/* Footer */
.footer {
	padding: 10px 20px;
}

/* Misc */
.muted {
	margin: 0;
	color: #555;
}

/* Smaller screens */
@media screen and (max-width: 900px) {
	.item > td > .hidden {
		opacity: 0.8;
	}

	#fileaction {
		min-width: 90px;
	}

	#filesize {
		min-width: 90px;
	}

	#filemodified {
		min-width: 100px;
	}

	.action-text {
		display: none;
	}
}

/* Probably mobile devices */
@media screen and (max-width: 660px) {
	#fileaction {
		min-width: 60px;
	}

	#filesize, .filesize {
		display: none;
	}

	#filemodified {
		min-width: 0px;
	}

	.item-input {
		width: 90px;
	}

	.thumb {
		width: 16px;
		height: 22px;
		vertical-align: middle;
	}
}