html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
}

#header {
	padding: 10px;
	background: #0F529B;
	margin-bottom: 15px;
}

#header h1 {
	margin: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
}

#filemanager {
}

#filemanager > div {
	border-top: 1px solid #ddd;
	padding: 10px 20px;
}

#filemanager > div:hover {
	background: #eee;
}

#filemanager > .file > .hidden {
	display: inline-block;
	opacity: 0;
}

#filemanager > div:hover > .item-input {
	padding: 4px 6px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#filemanager > .file:hover > .hidden {
	opacity: 1;
}

#filemanager > .dir {
}

#filemanager > .file {
}

.thumb {
	background: #0F529B;
	border-radius: 2px;
	vertical-align: bottom;
}

.item-input {
	padding-left: 5px;
	padding-bottom: 7px;
	transition: all 200ms;
	border: none;
}

.dir-click {
	cursor: pointer;
}

.action {
	padding: 10px 20px;
}

.action > div {
	float: left;
}

.label {
	display: inline-block;
  	padding: 7px;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #333;
}

.upload-input {
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url('/static/assets/upload.png');
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#file-upload {
	display: inline-block;
	margin-left: 10px;
}

.upload-input:hover {
	background-color: #ddd;
}

.upload-input input {
	cursor: pointer;
	width: 32px;
	height: 32px;
	overflow: hidden;
	opacity: 0;
}

.muted {
	margin: 0;
	color: #ccc;
}