<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
        <script src="{{ static_url("js/jquery-1.11.2.min.js") }}"></script>
    </head>
    <body>
        <header>
            <div id="header">
                <img class="project-logo" src="{{ static_url("assets/cloud.svg") }}"><a class="project-title" href="/"><h1>minCloud</h1></a> 
               
            </div>
        </header>

        <div id="content">
            <div class="action">
                <div class="label">cloudstore/<strong>{{ escape(currentdir) }}</strong></div>
                <form id="file-upload" action="/upload" method="post" enctype="multipart/form-data">
                    <div class="upload-input">
                        <input type="hidden" name="path" value="{{ escape(currentdir) }}">
                        <input type="file" name="file" id="upload-input" class="upload-input" multiple>
                    </div>
                </form>

                <form id="mkdir" action="/mkdir" method="post">
                    <input type="hidden" name="path" value="{{ escape(currentdir) }}">
                    <input type="text" id="mkdir-input" name="directory" placeholder="New directory...">
                    <button id="mkdir-submit">Create</button>
                </form>
            </div>

            <div class="clear"></div>

            <table id="filemanager">
                <tr>
                    <th id="filename">Name</th>
                    <th id="fileaction"></th>
                    <th id="filesize">Size</th>
                    <th id="filemodified">Last modified</th>
                </tr>

                {% if currentdir != "" %}
                    <tr><td colspan="4"><a href="?dir={{ escape(parentdir) }}">.....</a></td></tr>
                {% end %}

                {% for dir in dirs %}
                    <tr class="item">
                        <td>
                            <a href="/?dir={{ escape(dir[1]) }}">
                                <img class="thumb" src="{{ static_url("assets/folder.svg") }}" data-target="{{ escape(dir[1]) }}"> 
                            </a>
                            <input type="text" class="item-input" data-target="{{ dir[0] }}" value="{{ escape(dir[0]) }}" autocomplete="off">
                        </td>
                        <td colspan="3">
                            <div class="hidden">
                                <img class="action-icon action-remove" src="{{ static_url("assets/remove.svg") }}">
                                <a href="javascript:void(0)" class="action-text action-remove" data-target="{{ escape(dir[0]) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% end %}

                {% for file in files %}
                    <tr class="item">
                        <td>
                            <img class="thumb" src="/static/assets/{{ file[4] }}.png">
                            <input type="text" class="item-input" data-target="{{ escape(file[0]) }}" value="{{ escape(file[0]) }}" autocomplete="off">
                        </td>
                        <td>
                            <div class="hidden">
                               <a action="action-icon" href="/download?path={{ escape(currentdir) }}&target={{ escape(file[0]) }}"><img class="action-icon" src="{{ static_url("assets/download.svg") }}"></a>
                            <a class="action-text" href="/download?path={{ escape(currentdir) }}&target={{ escape(file[0]) }}">Download</a> 
                            </div>
                            <div class="hidden">
                                <img class="action-icon action-remove" src="{{ static_url("assets/remove.svg") }}">
                                <a href="javascript:void(0)" class="action-text action-remove" data-target="{{ escape(file[0]) }}">Delete</a>
                            </div>
                        </td>
                        <td>{{ escape(file[2]) }}</td>
                        <td><div class="filemodified">{{ escape(file[3]) }}</div></td>
                    </tr>
                {% end %}

                {% if len(dirs) + len(files) == 0 %}
                    <tr><td colspan="4">No files and directories to display!</td></tr>
                {% end %}
            </table>

            <div id="filemanager">
                <input type="hidden" id="currentdir" value="{{ escape(currentdir) }}">


            </div>
        </div>

        <footer class="footer">
            <p class="muted">v.0.0.2-alpha</p>
        </footer>

        <script src="{{ static_url("js/mincloud.js") }}"></script>
    </body>
</html>