<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
        <script src="{{ static_url("js/jquery-1.11.2.min.js") }}"></script>
    </head>
    <body>
        <header>
            <div id="header">
                <a href="/"><h1>minCloud</h1></a> 
                <p class="muted">v.0.0.1-alpha</p>
            </div>
        </header>

        <div id="content">
            <div class="action">
                <div class="label">cloudstore/<strong>{{ escape(currentdir) }}</strong></div>
                <form id="file-upload" action="/upload" method="post" enctype="multipart/form-data">
                    <div class="upload-input">
                        <input type="hidden" name="path" value="{{ escape(currentdir) }}">
                        <input type="file" name="file" id="upload-input" class="upload-input" multiple>
                    </div>
                </form>

                <form id="mkdir" action="/mkdir" method="post">
                    <input type="hidden" name="path" value="{{ escape(currentdir) }}">
                    <input type="text" id="mkdir-input" name="directory" placeholder="New directory...">
                    <button id="mkdir-submit">Create</button>
                </form>
            </div>

            <div class="clear"></div>

            <div id="filemanager">
                <input type="hidden" id="currentdir" value="{{ escape(currentdir) }}">

                {% if currentdir != "" %}
                    <div><a href="?dir={{ escape(parentdir) }}">...</a></div>
                {% end %}

                {% for dir in dirs %}
                    <div class="dir">
                        <a href="/?dir={{ escape(dir[1]) }}">
                            <img class="thumb" src="{{ static_url("assets/folder.png") }}" data-target="{{ escape(dir[1]) }}"> 
                        </a>
                        <input type="text" class="item-input" data-target="{{ dir[0] }}" value="{{ escape(dir[0]) }}" autocomplete="off">
                    </div>
                {% end %}

                {% for file in files %}
                    <div class="file">
                        <img class="thumb" src="{{ static_url("assets/file.png") }}">
                        <input type="text" class="item-input" data-target="{{ escape(file[0]) }}" value="{{ escape(file[0]) }}" autocomplete="off">
                        <div class="hidden">
                            <a href="/download?path={{ escape(currentdir) }}&target={{ escape(file[0]) }}">Download</a> 
                            <a class="action-remove" data-target="{{ escape(file[0]) }}">Delete</a>
                        </div>
                    </div>
                {% end %}

                {% if len(dirs) + len(files) == 0 %}
                    <div>No files and directories to display!</div>
                {% end %}
            </div>
        </div>

        <script type="text/javascript">
        // Rename
        $(".item-input").change(function() {
            data = {
                path: $("#currentdir").val(),
                target: $(this).data("target"),
                name: $(this).val()
            }
            $.ajax({
                type: "POST",
                url: "/rename",
                data: data,
                success: function(data) {
                    window.location.reload();
                }
            });
        });

        $('body').on('click', '.action-remove', function() {
            if (confirm("Do you really want to delete this file?")) {
                data = {
                    path: $("#currentdir").val(),
                    target: $(this).data("target")
                }
                $.ajax({
                    type: "POST",
                    url: "/delete",
                    data: data,
                    context: $(this),
                    success: function(data) {
                        console.log(this);
                        $(this).closest(".file").fadeOut();
                    }
                });
            }
        });

        // Auto upload on file select
        $('body').on('change', '#upload-input', function() {
            $("#file-upload").submit();
        });

        $('body').on('focus', '#mkdir-input', function() {
            $("#mkdir-submit").fadeIn();
        });

        $('body').on('blur', '#mkdir-input', function() {
            $("#mkdir-submit").fadeOut();
        });
        </script>
 
    </body>
</html>